<div class="container mt-2">
  <!-- <h4>All projects</h4> -->
  <button type="submit" class="btn btn-outline-success" (click)="addRow()">Add Row</button>
  <form [formGroup]="approvedTeamForms" (ngSubmit)="onSubmit()">
    <div formArrayName="approvedteams">
      <table class="table">
        <thead>
          <tr>
            @for(colums of displayedColumns;track colums){
            <th>{{ colums }}</th>
            }
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let f of approvedteams().controls; let i = index" [formGroupName]="i">
            <td>
              <input
                type="text"
                class="form-control"
                id="noofresources"
                formControlName="noofresources"
              />
            </td>
            <td><input type="text" class="form-control" id="role" formControlName="role" /></td>
            <td>
              <input
                type="text"
                class="form-control"
                id="availability"
                formControlName="availability"
              />
            </td>
            <td>
              <input type="text" class="form-control" id="duration" formControlName="duration" />
            </td>
            <td>
              <i class="fs-2 bi-trash-fill danger text-danger" (click)="removeRow(i)"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
